---

---

<main class="main">
  <h1>Hola aixo es el main</h1>
</main>

<style>
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
</style>
